[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/plone-4.2.x.cfg

package-name = collective.weather
package-extras = [test]
test-eggs = Pillow

parts += i18ndude omelette releaser

[instance]
eggs +=
    Pillow
    iw.debug

zcml = iw.debug

[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser
